<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SampleTest">
    <classes>
      <class name="programs.bootstrapdropdown"/>
      <class name="programs.positions"/>
      <class name="programs.writescript"/>
      <class name="programs.handleradobuttoandcheckbox"/>
      <class name="programs.handlecalendertable"/>
    </classes>
  </test> <!-- SampleTest -->
</suite> <!-- Suite -->
